.footer {
  margin-left: 45rem;
  position: fixed;
  bottom: 0;
}

@media only screen and (max-width: 600px) {
  .footer {
    margin-left: 8rem;
  }
}

.login-page {
  display: flex;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 40px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.dropbtn {
  background-color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 63%;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.logo {
  font-family: "Lobster", cursive;
  padding: 10px;
  font-size: 16px;
}

.link {
  text-decoration: none;
  color: black;
}
